# Dependencies
node_modules
.pnp
.pnp.js

# Testing
coverage

# Next.js build output
.next/
out/
build
dist

# Environment variables
.env*.local

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Rust / Canisters
target/
.dfx/

# OS files
.DS_Store
Thumbs.db
